* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto !important;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: toRem(60);
  font-family: 'Josefin Sans Bold';
  letter-spacing: -0.03em;
  line-height: 1.1;

  @include breakpoint-down(sm) {
    font-size: toRem(40);
    line-height: 1.05;
  }
}

h2 {
  font-size: toRem(48);
  font-family: 'Josefin Sans Bold';
  letter-spacing: -0.03em;
  line-height: 1.05;

  @include breakpoint-down(sm) {
    font-size: toRem(32);
    line-height: 1;
  }
}

h3 {
  font-size: toRem(32);
  font-family: 'Josefin Sans Bold';
  letter-spacing: -0.03em;
  line-height: 1.1;

  @include breakpoint-down(sm) {
    font-size: toRem(24);
  }
}

h4 {
  font-size: toRem(24);
  font-family: 'Josefin Sans Bold';
  letter-spacing: -0.03em;
  line-height: 1.1;

  @include breakpoint-down(sm) {
    font-size: toRem(20);
  }
}

a {
  text-decoration: none;
}

// For Pattern and Ornament on All Pages
.pattern,
.ornament {
  pointer-events: none;
}

.container {
  padding: toRem(80) 0;

  @include breakpoint-down(md) {
    padding: toRem(64) 0;
  }

  @include breakpoint-down(sm) {
    padding-inline: toRem(20);
  }
}
